@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  line-height: 1.5;
  min-height: 100vh;
  font-family: 'Inter', sans-serif;
}

.down{
  color: red;
}

.up{
  color: green;
}

.rows{
  display: flex;
  align-items: center;
  margin-top: 20px;
}


.box{
  display: flex;
  background-color: aqua;
  width: 300px;
  border-radius: 10px;
  margin: 5px;
  padding: 40px;
  cursor: pointer;
}

.box2{
  background-color: antiquewhite;
  width: 200px;
  padding: 30px;
  border-radius: 7px;
  border-top: 5px solid #000;
  margin: auto 15px;
  cursor: pointer;
}

.box2:hover{
  background-color: #000;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
