@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  line-height: 1.5;
  min-height: 100vh;
  font-family: 'Inter', sans-serif;
}

.down{
  color: red;
}

.up{
  color: green;
}

.rows{
  display: flex;
  margin: 20px auto;
  align-items: center;
}

.box{
  display: flex;
  background-color: aqua;
  width: 300px;
  border-radius: 10px;
  margin: 10px;
  padding: 40px;
}


.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
